.header-links{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    gap: 15px;
   font-family: roboto;
   margin-left: 100px;
}
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-family: roboto, arial;
}

.header-logo{
    color: #f9faf8;
    font-size: 24px;
    margin-bottom: 40px;
    margin-right: 400px;
}

.header-container{
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 30px;
}

.header-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;  
    margin-top: -60px;
}

.header-img{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.header-button{
    padding-inline: 1.5rem;
    padding-block: 7px;  
    border-radius: 7px;
    font-weight: 500;
    background-color: #3882f6;
    color: white;

}

.header-text1{
    margin-top: -15px;
}

.part2-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.part2-img img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border:solid blue 2px;
}



.part2-imgs{
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.part3{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote{
    font-family: italic;
    color: #1f2937;
    font-size: 36px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.author{
    margin-top: 200px;
    color: black;
    font-weight: bolder;
}

.part4{
    margin:80px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height:140px;
    width:1000px;
}

.part4-text{
    background-color: #3882f6;
    padding-left: 100px;
    color: #e5e7eb;
    padding: 15px;
}

.part4-text1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 100px;
}

.part4-text2{
    margin-top: -30px;
    font-size: 20px;
    margin-left: 100px;
}

.part4-button{
   
    border-radius: 7px;
    font-weight: 500;
    background-color: #3882f6;
    color: white;
    margin-left: 750px;
    align-items: center;
    align-self: center;
    padding:5px 25px 5px 25px;
    
    
}

.footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.footer p{
    color: #F9FAF8;
    font-size:20px;
}